---
layout: default
image:
  - source: /images/black_lives_matter_protest_US.jpg
    post_title: black lives matter protest US
  - source: /images/who_would_jesus_deport.jpg
    post_title: who would jesus deport
  - source: /images/pussy_power_hat_protest.jpg
    post_title: pussy power hat protest
image_grid:
  - source: /images/stack_of_newspapers_UK_smaller.jpg
    post_title: stack of newspapers
  - source: /images/no_war_protest_poster.jpg
    post_title: no war protest poster
  - source: /images/racism_protest_UK.jpg
    post_title: racism protest UK
  - source: /images/library_of_capital_ceiling.jpg
    post_title: library of capital ceiling
  - source: /images/sunset_statue_of_liberty.jpg
    post_title: sunset statue of liberty
  - source: /images/political_graffiti_sarcasm.jpg
    post_title: political graffiti sarcasm
---
<h1>
  Latest posts
</h1>
<section id="hero">
  <div class="flexslider">
      <ul class="slides">
        {% for image in page.image %}
        <li>
          <h3>{{image.post_title}}</h3>
          <img src="{{image.source}}" class="add-object-fit"/>
        </li>
        {% endfor %}
      </ul><!-- .slides -->
  </div>
</section>
<!---image carousel ends--->
<!---6 image grid starts--->
<div class="grid-noGutter-noBottom-center">
  {% for image_grid in page.image_grid %}
  <div class="col-3 homepage_image_grid" style="background-image:url('{{image_grid.source}}')">
    <h2>{{image_grid.post_title}}</h2>
  </div>
  {% endfor %}
</div>
<!---6 image grid ends--->
