---
layout: default
post: /posts
---
<!---slider on homepage--->
<h1>
  Latest posts
</h1>
<section id="hero">
  <div class="flexslider">
      <ul class="slides">
        {% for post in site.posts limit:3 %}
        <li>
          <h2>{{post.post_title}}</h2>
          <a href="{{post.url}}"><img src="{{post.source}}" class="add-object-fit"/></a>
        </li>
        {% endfor %}
      </ul><!-- .slides -->
  </div>
</section>
<!---slider on homepage ends--->
<!---6 image grid starts--->
<div class="grid-noGutter-noBottom-center-equalHeight image_grid">
  {% for post in site.posts offset:3 limit:6 %}
  <div class="col-4_sm-5.grid-center-middle homepage_image_grid" style="background-image:url('{{post.source}}')">
    <h2 class="col-12 grid_post_title"><a href="{{post.url}}" class="grid_link">{{post.post_title}}</a></h2>
  </div>
  {% endfor %}
</div>
<!---6 image grid ends--->
